@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cantarell", sans-serif;
}

:root {
    --primary: #38563F;
    --secondary: #f4b85e;
    --tertiary: #35130a;
    --quaternary: #6E8A9B;
    --content: #F7F3EC;
    --neutral: #a5a5a5;
    --textBackground: #00000073;
    --hover: #ffd392;
}

header {
    background-color: var(--primary);
    text-align: center;
    padding: 1em;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 5em;
    height: 5em;
}

header nav {
    display: none;
}

#hambur {
    width: 50px;
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5em;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.8em;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.4em;
}

p {
    font-size: 1em;
}

#hero {
    min-height: 70vh;
    background-image: url(imgs/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 97%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: var(--content);
}

#hero h1 {
    text-align: center;
    padding: 0.3em;
}

#hero p {
    display: none;
}

#formulario {
    background-color: var(--primary);
    color: var(--content);
    width: 85%;
    height: 80%;
    border-radius: 0.7em;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

#formulario form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#formulario input,
#formulario select {
    width: 100%;
    height: 2rem;
    background-color: var(--content);
}

#formulario input::placeholder {
    color: var(--neutral);
}

#formulario select::placeholder {
    color: var(--neutral);
}

#formulario #participar {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-radius: 1em;
    margin: 1em;
    width: 50%;
    padding: 0.5em;
    align-self: center;
    text-decoration: none;
}

#gridImg {
    display: grid;
    grid-template-columns: 1fr;
}

#gridImg img {
    width: 100%;
    height: 410px;
    object-fit: cover;
    display: block;
}

.imgDestacada {
    position: relative;
    color: var(--content);
}

#gridImgText1,
#gridImgText2 {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0.5em;
    background-color: var(--textBackground);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

#gridImgText1 a {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-radius: 1em;
    margin: 1em;
    width: 50%;
    padding: 0.5em;
    align-self: center;
    text-decoration: none;
}

.imgOculta {
    display: none;
}

#clavesSostenibles {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

#clavesSostenibles article {
    background-color: var(--primary);
    color: var(--content);
    margin: 0.4em;
    padding: 1em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#clavesSostenibles img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

#clavesSostenibles article .buttons {
    background-color: var(--secondary);
    color: var(--tertiary);
    border-radius: 1em;
    margin: 1em;
    width: 50%;
    padding: 0.5em;
    align-self: center;
    text-decoration: none;
}

#etiqueta1 {
    display: none;
}

#etiqueta2 {
    display: none;
}

#etiqueta3 {
    display: none;
}

footer {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5em;
}

footer nav {
    display: flex;
    gap: 1rem;
    padding: 1em;
}

footer img {
    width: 30px;
    height: 30px;
}

footer p {
    font-size: 1.2em;
}

/* TABLET */
@media all and (min-width:768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.3em;
    }

    h3 {
        font-size: 1.9em;
    }

    p {
        font-size: 1.1em;
    }

    #hambur {
        display: none;
    }

    header img {
        width: 6em;
        height: 6em;
    }

    header nav {
        display: block;
    }

    header nav a {
        color: var(--tertiary);
        padding: 1em;
        margin: 0 1em;
        text-decoration: none;
        position: relative;
        background-color: var(--secondary);
        border-radius: 2em;
    }

    #hero h1,
    #hero p {
        text-align: left;
        padding: 1em;
    }

    #formulario {
        width: 90%;
        height: 120%;
    }

    #formulario form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #gridImg {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 60vh);
        grid-auto-flow: dense;
        margin: 1em;
    }

    #gridImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #gridImg div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    #gridImg div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    #gridImg div:nth-child(3) {
        grid-row: span 2;
    }

    #gridImg div:nth-child(4) {
        grid-column: span 2;
    }

    #gridImg .imgOculta {
        display: block;
    }

    .imgOculta #gridImgText2 {
        text-align: left;
        align-items: flex-start;
        padding: 0.5em;
    }

    #clavesSostenibles {
        padding: 2.5em;
    }

    #clavesSostenibles h2 {
        text-align: left;
    }

    #clavesSostenibles img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    #etiqueta1 {
        display: none;
    }

    #etiqueta2 {
        display: none;
    }

    #etiqueta3 {
        display: none;
    }

    #gridArticle {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        gap: 0.5rem;
    }

    #gridArticle>article:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
    }

    #gridArticle>article:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
    }

    #gridArticle>article:nth-of-type(3) {
        grid-column: 1;
        grid-row: 2;
    }

    #articlesPequeños {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
    }

    .buttons {
        margin-top: auto;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1.5em;
    }

     footer nav a{
        height: 25px;
    }

}

/* DESKTOP */
@media all and (min-width:1200px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.8em;
    }

    h3 {
        font-size: 2.4em;
    }

    p {
        font-size: 1.2em;
    }

    header img {
        width: 7em;
        height: 7em;
    }

    header a {
        font-size: 1.2em;
    }

    header nav a::after {
        content: ".";
        display: inline-block;
        width: 0;
        height: 0.2em;
        background-color: var(--tertiary);
        position: absolute;
        transition: 0.4s;
    }

    header nav a::after {
        bottom: 0.1em;
        left: 0;
    }

    header nav a:hover::after {
        width: 100%;
    }

    header nav a:hover {
        transform: scale(1.05);
        font-weight: 700;
        background-color: var(--hover);
    }

    #hero {
        text-align: left;
        align-items: center;
        margin-bottom: 10em;
    }

    #hero h1,
    #hero p {
        display: block;
        padding: 0;
        width: 50%;
        margin-right: 30%;

    }

    #hero p {
        margin-bottom: 1.7em;
    }

    #formulario {
        position: absolute;
    }

    main {
        position: relative;
    }

    #hero {
        position: relative;
    }

    #formulario {
        position: absolute;
        top: 35vh;
        right: 5%;
        width: 380px;
        height: 380px;
        z-index: 10;
        background-color: var(--primary);
        padding: 1.5em;
        border-radius: 1em;
    }

    #formulario form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #formulario #participar {
        margin: 0;
    }

    #formulario #participar:hover {
        background-color: var(--hover);
    }

    #gridImg {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 50vh);
        grid-auto-flow: dense;
        margin: 1em;
    }

    #gridImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #gridImg div:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    #gridImg div:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    #gridImg div:nth-child(3) {
        grid-row: span 2;
    }

    #gridImg div:nth-child(4) {
        grid-column: span 2;
    }

    .imgDestacada #gridImgText1 {
        position: absolute;
        bottom: auto;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        /*para que la caja quede centrada verticalmente*/
        text-align: center;
        margin: 0.5em;
        background-color: var(--textBackground);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
    }

    .imgDestacada #gridImgText1 a:hover {
        background-color: var(--hover);
    }

    #gridArticle .imgOculta {
        display: block;
    }

    #gridArticle {
        height: fit-content;
    }

    #clavesSostenibles{
        max-width: 1250px;
    }

    #clavesSostenibles article {
        position: relative;
        padding: 1.5em;
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    #etiqueta1 {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
        background-color: var(--secondary);
        color: var(--tertiary);
        padding: 0.4em 0.8em;
        border-radius: 0.5em;
        font-size: 0.8rem;
        font-weight: bold;
        z-index: 2;
        font-size: 1.3em;
    }

    #etiqueta2 {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
        background-color: var(--tertiary);
        color: var(--content);
        padding: 0.4em 0.8em;
        border-radius: 0.5em;
        font-size: 0.8rem;
        font-weight: bold;
        z-index: 2;
        font-size: 1.3em;
    }

    #etiqueta3 {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
        background-color: var(--quaternary);
        color: var(--tertiary);
        padding: 0.4em 0.8em;
        border-radius: 0.5em;
        font-size: 0.8rem;
        font-weight: bold;
        z-index: 2;
        font-size: 1.3em;
    }


    #clavesSostenibles #gridArticle h3,
    #clavesSostenibles #gridArticle p,
    #clavesSostenibles #gridArticle a {
        text-align: left;
        align-items: flex-start;
        padding: 0.5em;
    }

    #clavesSostenibles article .buttons {
        align-self: flex-start;
        width: auto;
    }

    #clavesSostenibles #gridArticle img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        object-position: center;
    }

    #clavesSostenibles h2 {
        margin-bottom: 0.6em;
    }

    #gridArticle {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        /*dividí en 3 partes iguales, 3 columnas iguales*/
        gap: 0.5rem;
    }

    #gridArticle article:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
    }

    #gridArticle article:nth-of-type(2) {
        grid-column: 2;
        grid-row: 1;
    }

    #gridArticle article:nth-of-type(3) {
        grid-column: 3;
        grid-row: 1;
    }

    #articlesPequeños {
        grid-column: 1 / 4;
        /*puse que el elemento ocupara las 3 columnas para que luego quedaran entre los espacios de la fila de arriba*/
        grid-row: 2;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    #articlesPequeños article {
        width: 33.33%;
    }

    #clavesSostenibles article .buttons {
        font-size: 1.3em;
    }

    #clavesSostenibles article .buttons:hover {
        background-color: var(--hover);
    }

    footer {
        margin-top: 4em;
        align-items: center;
        text-align: center;
    }

    footer img {
        width: 30px;
        height: 30px;
    }

    footer nav a{
        height: 25px;
    }

    footer p {
        font-size: 1.7em;
    }

}